.Skills {
    padding: 20px;
    min-height: 1000px;
    background-color: rgb(200, 200, 200);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.skills-title{
    font-size: clamp(30px, 5vw, 48px);
    font-weight: bold;
    padding: 10px;
}
.skills-grid{
    min-width: 75%;
    max-height: 60%;
    background-color: rgb(35, 35, 35);  
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    
}
.front-end-grid, .back-end-grid, .more-grid, 
.program-lang-grid, .dv-grid, .version-control-grid,
.ci-cd-grid{
    min-width: 70%;
    max-height: 20%;
    border: dashed;
    border-color: white;
    border-radius: 10px;
    margin-bottom:20px;
}
.icon-container{
    padding: 10px
}
.front-end-icons, .back-end-icons, .more-icons, 
.program-lang-grid-icons, .dv-grid-icons, 
.version-control-icons, .ci-cd-icons{
    display: grid;
    text-align: center;
    grid-template-columns: 1fr;
    gap: 15px;
    grid-auto-rows: 1fr;

    @media ( width>=40em){
        grid-template-columns: repeat(2, 1fr);
    }
    @media ( width>=1030px){
        grid-template-columns: repeat(4, 1fr);
    }
}
.front-end-title, .back-end-title,.more-title, 
.program-lang-grid-title, .dv-grid-title,
.version-control-title, .ci-cd-title{
    font-weight: 700;
    font-size: clamp(20px, 3vw, 30px);
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
}

.html-icon, .css-icon,
.javascript-icon,.github-icon,
 .mysql-icon, .python-icon,
 .matlab-icon, .arduino-icon,
 .c-icon, .sv-icon, .cadence-icon, 
 .uvm-icon, .perforce-icon, .git-icon,
 .jenkins-icon, .perl-icon, .shell-icon,
 .claude-icon, .ca-icon, .vscode-icon,
 .linux-icon {
    padding: 10px;
    height: auto;
}


.icon-title{
    font-size: clamp(15px, 3vw, 18px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.github-icon, .mysql-icon, .python-icon, 
.matlab-icon, .arduino-icon, .html-icon, 
.css-icon, .sv-icon, .git-icon, .shell-icon,
.claude-icon, .ca-icon, .vscode-icon {
    max-width: 130px;
}

.html-icon {
    min-width: 130px;
}

.uvm-icon{
    max-width: 180px;
}
.cadence-icon{
    max-width: 140px;
}

.javascript-icon{
    max-width: 110px;
}
.c-icon, .perl-icon{
    max-width: 120px;
}

.perforce-icon, .linux-icon{
    max-width: 150px;
}

.jenkins-icon{
    max-width: 180px;
}